<h1>Hello</h1>
<div class="container">
  <div id="question">
    <h1>Store</h1>
  </div>

  <ul>
    <li><i class="far fa-check-square"></i>shop</li>
    <li><i class="far fa-check-square"></i>car</li>
    <li><i class="far fa-check-square"></i>pen</li>
    <li><i class="far fa-check-square"></i>dog</li>
  </ul>
</div>
