<div class="container">
  <div id="question">
    <h1>Store</h1>
  </div>

  <ul>
    <li><input type="radio" name="optradio">shop</li>
    <li><input type="radio" name="optradio">car</li>
    <li><input type="radio" name="optradio">pen</li>
    <li><input type="radio" name="optradio">dog</li>
  </ul>
</div>
