.alert {
  text-align: center;
}
.navbar-c {
  background-color: #2980b9;
  height: 60px;
  margin-bottom: 20px;
}
.navbar-c .nav-link {
  color: white;
  font-size: 20px;
}
.navbar-c .navbar-brand {
  color: white;
  font-size: 32px;
}
.navbar-c .navbar-text {
  color: white;
  font-size: 20px;
}

.navbar-c .nav-link:hover {
  color: black;
}
