.container {
  width: 50%;
}
#question {
  background-color: #2980b9;
}

#question h1 {
  color: white;
  margin-left: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}
input {
  margin-left: 5px;
  margin-right: 10px;
}
li:nth-child(2n) {
  background: #f7f7f7;
}
